@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(0,232,73);
    background: linear-gradient(90deg, rgba(0,232,73,1) 40%, rgba(162,0,255,1) 100%);
}

nav {
    width: 100%;
    height: 10vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo img {
    margin-left: 20px;
    width: 100px;
    filter: drop-shadow(2px 2px 2px white);
}

.container .links a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin: 0 20px;
}

.links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    background-color: #008cff;
    height: 3.5px;
    transition: width 0.3s ease;
}

.links a:hover::before {
    width: 100%;
}

.container .search i {
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    margin-right: 20px;
    transition: color 0.3s ease;
}

section {
    width: 100%;
    height: 90vh;
}

section .content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.content .main-content {
    color: rgb(0, 0, 0);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-content h1 {
    font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

.main-content h2 {
    color: #ff00c8;
    font-size: clamp(2rem, 1rem + 5vw, 3.5rem);
}

.main-content p {
    margin-top: 10px;
    color: #7813a0;
}

.main-content .order {
    display: flex;
    margin: 20px 10px;
    width: 100%;
    justify-content: space-around;
    min-height: 7vh;
}

.order h3 {
    font-size: 1.8rem;
}

.order button {
    min-width: 50%;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #f74f10 40%, #8a3313);
    color: white;
    font-weight: 700;
    padding: 0 2px;
    font-size: clamp(0.6rem, 1rem 5vw, 3rem);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.order button:hover {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.order button:active {
    rotate:90deg ;
}
.content .image img {
    max-width: 450px;
    width: 100%;
    margin-right: 100px;
    transform: rotate(40deg) translateX(900px);
    filter: drop-shadow(-10px -10px 200px #f74f10);
    animation: slideInImage 0.5s forwards;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .main-content {
        margin: 0 10px;
    }
}

@media (max-width: 440px) {
    .links {
        display: none;
    }
    .content .image img {
        max-width: 100%;
        margin-right: 0;
    }
}
